In [1]:
#Imports
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 500)

## CRISP-DM
![CRISP-DM](../reports/figures/CRISP_DM.png)

## Data Preparation
Relational Dataset

In [3]:
# Path to relational dataset
pth_rds= "../data/processed/COVID_relational_full.csv"
# Read data into dataframe
pd_rel= pd.read_csv(pth_rds, sep=";", parse_dates=[0])
# Sirt by dates
pd_rel= pd_rel.sort_values('date', ascending=True)

In [4]:
pd_rel.head()

          date    state       country  confirmed
0   2020-01-22  Alberta        Canada        0.0
169 2020-01-22       no  Korea, South        1.0
170 2020-01-22       no        Kosovo        0.0
171 2020-01-22       no        Kuwait        0.0
172 2020-01-22       no    Kyrgyzstan        0.0

In [5]:
pd_rel= pd_rel.reset_index(drop=True)
pd_rel= pd_rel.reset_index()

In [6]:
pd_rel.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [7]:
# Cut out test data
pd_rel_small= pd_rel[
    (
        (pd_rel['country'] == 'Nigeria') |
        (pd_rel['country'] == 'Germany')
    )&
    (
        pd_rel['date'] > '2020-08-01'
    )
]

In [8]:
pd_rel_small.tail()

       index       date state  country  confirmed
54101  54101 2020-08-12    no  Nigeria    47743.0
54307  54307 2020-08-13    no  Germany   222281.0
54368  54368 2020-08-13    no  Nigeria    48116.0
54572  54572 2020-08-14    no  Germany   223791.0
54634  54634 2020-08-14    no  Nigeria    48445.0

In [9]:
# Group entries by country and search for the maximum
pd_rel_small.groupby(["country"]).agg(np.max)

         index       date state  confirmed
country
Germany  54572 2020-08-14    no   223791.0
Nigeria  54634 2020-08-14    no    48445.0

In [10]:
# %load ../src/features/build_features.py
import numpy as np
from sklearn import linear_model
from scipy import signal

# Create Linear Regression Model
reg= linear_model.LinearRegression(fit_intercept= True)  


def get_doubling_rate_via_regression(in_array):
    """ Approximate the doubling time using linear regression.

    3 datapoints are used to approximate the number of days 
    it takes for the number of infected people to double at each point.

    Parameters:
    ----------
    in_array: List/ numpy Array
        input data

    Returns:
    -------
    doubling_time: double
    """
    
    # Assert output vector is 3 datapoints long
    assert len(in_array)==3
 
    y= np.array(in_array)
    # Calculate slope using central difference
    X= np.arange(-1,2).reshape(-1,1)

    # Fit data
    reg.fit(X,y)
    intercept= reg.intercept_
    slope= reg.coef_

    return intercept/slope


def rolling_regression(df_input, col="confirmed"):
    """ Roll over entries to approximate the doubling time using linear regression.

    Parameters:
    ----------
    df_input: pandas DataFrame
        input data
    col: string
        key to column which holds data entries

    Returns:
    -------
    result: pandas Series
    """
    
    days_back= 3
    
    result= df_input[col].rolling(
            window=days_back,
            min_periods=days_back
        ).apply(get_doubling_rate_via_regression, raw=False)
    
    return result


def savgol_filter(df_input, col='confirmed', window=5):
    """ Filter data using savgol filter.

    Parameters:
    ----------
    df_input: pandas DataFrame
        input data
    col: string
        key to column which holds data entries

    Returns:
    -------
    df_result: pandas DataFrame
        df_input with additional column with name col+"_filtered"
    """

    window=5
    degree=1

    df_result=df_input

    filter_in= df_input[col].fillna(0)
    result= signal.savgol_filter(
            np.array(filter_in), window, degree
        )

    df_result[col+ "_filtered"]= result
    return df_result
    




if __name__ == "__main__":
    # Test data
    test_data= np.array([2,4,6])
    # Expected result= 2
    result= get_doubling_rate_via_regression(test_data)
    assert(int(result[0]) == 2)

In [11]:
pd_rel_small.groupby(['state', 'country']).agg(np.max)

               index       date  confirmed
state country
no    Germany  54572 2020-08-14   223791.0
      Nigeria  54634 2020-08-14    48445.0

#### Apply get_doubling_rate_via_regression() on country groups

In [12]:
pd_rel_small_DR= pd_rel_small.groupby(['state', 'country']).apply(rolling_regression).reset_index()

In [13]:
pd_rel_small_DR.tail()

   state  country  level_2   confirmed
21    no  Nigeria    53570  128.000000
22    no  Nigeria    53834  131.588593
23    no  Nigeria    54101  107.990868
24    no  Nigeria    54368  115.535916
25    no  Nigeria    54634  137.040836

In [14]:
pd_rel_small_DR= pd_rel_small_DR.rename(columns={'confirmed':'doubling_rate', 'level_2': 'index'})

In [15]:
pd_rel_small_result= pd.merge(pd_rel_small, pd_rel_small_DR[['index', 'doubling_rate']], on=['index'], how='left')

In [16]:
pd_rel_small_result.tail()

    index       date state  country  confirmed  doubling_rate
21  54101 2020-08-12    no  Nigeria    47743.0     107.990868
22  54307 2020-08-13    no  Germany   222281.0     161.177186
23  54368 2020-08-13    no  Nigeria    48116.0     115.535916
24  54572 2020-08-14    no  Germany   223791.0     151.644156
25  54634 2020-08-14    no  Nigeria    48445.0     137.040836

#### Filtering data while grouping by state and country

In [17]:
pd_rel_small_filtered= pd_rel_small[['state', 'country', 'confirmed']].groupby(['state', 'country']).apply(savgol_filter).reset_index()

In [18]:
pd_rel_small_filtered[['index', 'confirmed_filtered']].tail()

    index  confirmed_filtered
21  54101             47692.2
22  54307            222326.5
23  54368             48090.4
24  54572            223657.2
25  54634             48488.6

In [19]:
pd_rel_small_result= pd.merge(pd_rel_small_result, pd_rel_small_filtered[['index', 'confirmed_filtered']], on=['index'], how='left')

In [20]:
pd_rel_small_result.tail()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered
21,54101,2020-08-12,no,Nigeria,47743.0,107.990868,47692.2
22,54307,2020-08-13,no,Germany,222281.0,161.177186,222326.5
23,54368,2020-08-13,no,Nigeria,48116.0,115.535916,48090.4
24,54572,2020-08-14,no,Germany,223791.0,151.644156,223657.2
25,54634,2020-08-14,no,Nigeria,48445.0,137.040836,48488.6

## Doubling rate on Full dataset

In [21]:
pd_DR_rel= pd_rel[['state', 'country', 'confirmed']].groupby(['state', 'country']).apply(rolling_regression).reset_index()

In [22]:
pd_DR_rel.tail()

      state   country  level_2  confirmed
54791    no  Zimbabwe    53598  53.842004
54792    no  Zimbabwe    53796  56.074951
54793    no  Zimbabwe    54093  66.478161
54794    no  Zimbabwe    54328  56.980620
54795    no  Zimbabwe    54795  55.698324

In [23]:
pd_DR_rel= pd_DR_rel.rename(columns={'confirmed': 'doubling_rate', 'level_2': 'index'})

In [24]:
pd_DR_rel.tail()

      state   country  index  doubling_rate
54791    no  Zimbabwe  53598      53.842004
54792    no  Zimbabwe  53796      56.074951
54793    no  Zimbabwe  54093      66.478161
54794    no  Zimbabwe  54328      56.980620
54795    no  Zimbabwe  54795      55.698324

In [25]:
pd_rel.tail()

       index       date state   country  confirmed
54791  54791 2020-08-14    no  Barbados      148.0
54792  54792 2020-08-14    no   Belarus    69308.0
54793  54793 2020-08-14    no   Belgium    77113.0
54794  54794 2020-08-14    no   Albania     7117.0
54795  54795 2020-08-14    no  Zimbabwe     5072.0

### Merge Big relational database with doubling rate results

In [26]:
pd_rel_result= pd.merge(pd_rel, pd_DR_rel[['index', 'doubling_rate']], on=['index'], how='left')

In [27]:
pd_rel_result[pd_rel_result['country']== 'Nigeria'].head()

       index       date state  country  confirmed  doubling_rate
102      102 2020-01-22    no  Nigeria        0.0            NaN
367      367 2020-01-23    no  Nigeria        0.0            NaN
636      636 2020-01-24    no  Nigeria        0.0            NaN
901      901 2020-01-25    no  Nigeria        0.0            NaN
1165    1165 2020-01-26    no  Nigeria        0.0            NaN
1433    1433 2020-01-27    no  Nigeria        0.0            NaN
1699    1699 2020-01-28    no  Nigeria        0.0            NaN
1963    1963 2020-01-29    no  Nigeria        0.0            NaN
2231    2231 2020-01-30    no  Nigeria        0.0            NaN
2498    2498 2020-01-31    no  Nigeria        0.0            NaN
2762    2762 2020-02-01    no  Nigeria        0.0            NaN
3030    3030 2020-02-02    no  Nigeria        0.0            NaN
3293    3293 2020-02-03    no  Nigeria        0.0            NaN
3560    3560 2020-02-04    no  Nigeria        0.0            NaN
3828    3828 2020-02-05    no  Nigeria        0.0            NaN
4093    4093 2020-02-06    no  Nigeria        0.0            NaN
4358    4358 2020-02-07    no  Nigeria        0.0            NaN
4626    4626 2020-02-08    no  Nigeria        0.0            NaN
4890    4890 2020-02-09    no  Nigeria        0.0            NaN
5156    5156 2020-02-10    no  Nigeria        0.0            NaN
5424    5424 2020-02-11    no  Nigeria        0.0            NaN
5688    5688 2020-02-12    no  Nigeria        0.0            NaN
5954    5954 2020-02-13    no  Nigeria        0.0            NaN
6222    6222 2020-02-14    no  Nigeria        0.0            NaN
6488    6488 2020-02-15    no  Nigeria        0.0            NaN
6751    6751 2020-02-16    no  Nigeria        0.0            NaN
7017    7017 2020-02-17    no  Nigeria        0.0            NaN
7285    7285 2020-02-18    no  Nigeria        0.0            NaN
7549    7549 2020-02-19    no  Nigeria        0.0            NaN
7816    7816 2020-02-20    no  Nigeria        0.0            NaN
8084    8084 2020-02-21    no  Nigeria        0.0            NaN
8348    8348 2020-02-22    no  Nigeria        0.0            NaN
8615    8615 2020-02-23    no  Nigeria        0.0            NaN
8881    8881 2020-02-24    no  Nigeria        0.0            NaN
9146    9146 2020-02-25    no  Nigeria        0.0            NaN
9411    9411 2020-02-26    no  Nigeria        0.0            NaN
9679    9679 2020-02-27    no  Nigeria        0.0            NaN
9943    9943 2020-02-28    no  Nigeria        1.0       0.666667
10212  10212 2020-02-29    no  Nigeria        1.0       1.333333
10477  10477 2020-03-01    no  Nigeria        1.0            inf
10741  10741 2020-03-02    no  Nigeria        1.0            inf
11009  11009 2020-03-03    no  Nigeria        1.0            inf
11275  11275 2020-03-04    no  Nigeria        1.0            inf
11539  11539 2020-03-05    no  Nigeria        1.0            inf
11807  11807 2020-03-06    no  Nigeria        1.0            inf
12073  12073 2020-03-07    no  Nigeria        1.0            inf
12338  12338 2020-03-08    no  Nigeria        1.0            inf
12606  12606 2020-03-09    no  Nigeria        2.0       2.666667
12870  12870 2020-03-10    no  Nigeria        2.0       3.333333
13136  13136 2020-03-11    no  Nigeria        2.0            inf
13404  13404 2020-03-12    no  Nigeria        2.0            inf
13669  13669 2020-03-13    no  Nigeria        2.0            inf
13934  13934 2020-03-14    no  Nigeria        2.0            inf
14202  14202 2020-03-15    no  Nigeria        2.0            inf
14465  14465 2020-03-16    no  Nigeria        2.0            inf
14732  14732 2020-03-17    no  Nigeria        3.0       4.666667
14999  14999 2020-03-18    no  Nigeria        8.0       1.444444
15265  15265 2020-03-19    no  Nigeria        8.0       2.533333
15529  15529 2020-03-20    no  Nigeria       12.0       4.666667
15797  15797 2020-03-21    no  Nigeria       22.0       2.000000
16063  16063 2020-03-22    no  Nigeria       30.0       2.370370
16328  16328 2020-03-23    no  Nigeria       40.0       3.407407
16596  16596 2020-03-24    no  Nigeria       44.0       5.428571
16860  16860 2020-03-25    no  Nigeria       51.0       8.181818
17126  17126 2020-03-26    no  Nigeria       65.0       5.079365
17394  17394 2020-03-27    no  Nigeria       70.0       6.526316
17659  17659 2020-03-28    no  Nigeria       89.0       6.222222
17924  17924 2020-03-29    no  Nigeria      111.0       4.390244
18192  18192 2020-03-30    no  Nigeria      131.0       5.253968
18456  18456 2020-03-31    no  Nigeria      135.0      10.472222
18722  18722 2020-04-01    no  Nigeria      174.0       6.821705
18990  18990 2020-04-02    no  Nigeria      184.0       6.707483
19254  19254 2020-04-03    no  Nigeria      210.0      10.518519
19520  19520 2020-04-04    no  Nigeria      214.0      13.511111
19788  19788 2020-04-05    no  Nigeria      232.0      19.878788
20054  20054 2020-04-06    no  Nigeria      238.0      19.000000
20318  20318 2020-04-07    no  Nigeria      254.0      21.939394
20583  20583 2020-04-08    no  Nigeria      276.0      13.473684
20851  20851 2020-04-09    no  Nigeria      288.0      16.039216
21115  21115 2020-04-10    no  Nigeria      305.0      19.977011
21382  21382 2020-04-11    no  Nigeria      318.0      20.244444
21650  21650 2020-04-12    no  Nigeria      323.0      35.037037
21914  21914 2020-04-13    no  Nigeria      343.0      26.240000
22181  22181 2020-04-14    no  Nigeria      373.0      13.853333
22447  22447 2020-04-15    no  Nigeria      407.0      11.697917
22712  22712 2020-04-16    no  Nigeria      442.0      11.806763
22977  22977 2020-04-17    no  Nigeria      493.0      10.403101
23245  23245 2020-04-18    no  Nigeria      542.0       9.846667
23509  23509 2020-04-19    no  Nigeria      627.0       8.268657
23778  23778 2020-04-20    no  Nigeria      665.0       9.940379
24041  24041 2020-04-21    no  Nigeria      665.0      34.333333
24309  24309 2020-04-22    no  Nigeria      873.0       7.060897
24575  24575 2020-04-23    no  Nigeria      981.0       5.314346
24840  24840 2020-04-24    no  Nigeria     1095.0       8.855856
25108  25108 2020-04-25    no  Nigeria     1182.0      10.805970
25372  25372 2020-04-26    no  Nigeria     1273.0      13.295880
25638  25638 2020-04-27    no  Nigeria     1337.0      16.309677
25906  25906 2020-04-28    no  Nigeria     1532.0      10.661519
26170  26170 2020-04-29    no  Nigeria     1728.0       7.838022
26436  26436 2020-04-30    no  Nigeria     1932.0       8.653333
26704  26704 2020-05-01    no  Nigeria     2170.0       8.793363
26970  26970 2020-05-02    no  Nigeria     2388.0       9.488304
27234  27234 2020-05-03    no  Nigeria     2558.0      12.226804
27500  27500 2020-05-04    no  Nigeria     2802.0      12.476651
27768  27768 2020-05-05    no  Nigeria     2950.0      14.132653
28033  28033 2020-05-06    no  Nigeria     3145.0      17.292517
28298  28298 2020-05-07    no  Nigeria     3526.0      11.135417
28566  28566 2020-05-08    no  Nigeria     3912.0       9.198609
28830  28830 2020-05-09    no  Nigeria     4151.0      12.361600
29096  29096 2020-05-10    no  Nigeria     4399.0      17.059548
29364  29364 2020-05-11    no  Nigeria     4641.0      17.946939
29628  29628 2020-05-12    no  Nigeria     4787.0      23.757732
29894  29894 2020-05-13    no  Nigeria     4971.0      29.088889
30162  30162 2020-05-14    no  Nigeria     5162.0      26.524444
30426  30426 2020-05-15    no  Nigeria     5450.0      21.688239
30693  30693 2020-05-16    no  Nigeria     5621.0      23.577342
30959  30959 2020-05-17    no  Nigeria     5959.0      22.305174
31223  31223 2020-05-18    no  Nigeria     6175.0      21.365824
31491  31491 2020-05-19    no  Nigeria     6401.0      27.956259
31757  31757 2020-05-20    no  Nigeria     6677.0      25.568393
32021  32021 2020-05-21    no  Nigeria     7016.0      21.782114
32289  32289 2020-05-22    no  Nigeria     7261.0      23.920091
32555  32555 2020-05-23    no  Nigeria     7526.0      28.500654
32820  32820 2020-05-24    no  Nigeria     7839.0      26.096886
33088  33088 2020-05-25    no  Nigeria     8068.0      28.822878
33352  33352 2020-05-26    no  Nigeria     8344.0      32.014521
33618  33618 2020-05-27    no  Nigeria     8733.0      25.208020
33886  33886 2020-05-28    no  Nigeria     8915.0      30.346760
34151  34151 2020-05-29    no  Nigeria     9302.0      31.575864
34415  34415 2020-05-30    no  Nigeria     9855.0      19.909220
34683  34683 2020-05-31    no  Nigeria    10162.0      22.727907
34949  34949 2020-06-01    no  Nigeria    10578.0      28.211157
35214  35214 2020-06-02    no  Nigeria    10819.0      32.023338
35482  35482 2020-06-03    no  Nigeria    11166.0      36.919501
35746  35746 2020-06-04    no  Nigeria    11516.0      32.043042
36012  36012 2020-06-05    no  Nigeria    11844.0      33.948869
36280  36280 2020-06-06    no  Nigeria    12233.0      33.094375
36544  36544 2020-06-07    no  Nigeria    12486.0      37.967809
36810  36810 2020-06-08    no  Nigeria    12801.0      44.037559
37078  37078 2020-06-09    no  Nigeria    13464.0      26.415133
37344  37344 2020-06-10    no  Nigeria    13873.0      24.961443
37607  37607 2020-06-11    no  Nigeria    14554.0      25.621407
37874  37874 2020-06-12    no  Nigeria    15181.0      22.226300
38141  38141 2020-06-13    no  Nigeria    15682.0      26.842199
38406  38406 2020-06-14    no  Nigeria    16085.0      34.622419
38672  38672 2020-06-15    no  Nigeria    16658.0      33.077186
38939  38939 2020-06-16    no  Nigeria    17148.0      31.289432
39204  39204 2020-06-17    no  Nigeria    17735.0      31.904054
39470  39470 2020-06-18    no  Nigeria    18480.0      26.708208
39738  39738 2020-06-19    no  Nigeria    19147.0      26.138810
40002  40002 2020-06-20    no  Nigeria    19808.0      28.832831
40269  40269 2020-06-21    no  Nigeria    20244.0      35.976299
40536  40536 2020-06-22    no  Nigeria    20919.0      36.586259
40801  40801 2020-06-23    no  Nigeria    21371.0      36.991423
41068  41068 2020-06-24    no  Nigeria    22020.0      38.940357
41331  41331 2020-06-25    no  Nigeria    22614.0      35.400912
41599  41599 2020-06-26    no  Nigeria    23298.0      35.436620
41865  41865 2020-06-27    no  Nigeria    24077.0      31.892914
42130  42130 2020-06-28    no  Nigeria    24567.0      37.794589
42398  42398 2020-06-29    no  Nigeria    25133.0      46.576389
42662  42662 2020-06-30    no  Nigeria    25694.0      44.598639
42928  42928 2020-07-01    no  Nigeria    26484.0      38.150012
43196  43196 2020-07-02    no  Nigeria    27110.0      37.329567
43460  43460 2020-07-03    no  Nigeria    27564.0      50.097531
43726  43726 2020-07-04    no  Nigeria    28167.0      52.249133
43994  43994 2020-07-05    no  Nigeria    28711.0      49.079919
44260  44260 2020-07-06    no  Nigeria    29286.0      51.333929
44523  44523 2020-07-07    no  Nigeria    29789.0      54.289425
44790  44790 2020-07-08    no  Nigeria    30249.0      61.837314
45057  45057 2020-07-09    no  Nigeria    30748.0      63.111575
45322  45322 2020-07-10    no  Nigeria    31323.0      57.306021
45588  45588 2020-07-11    no  Nigeria    31987.0      50.609631
45855  45855 2020-07-12    no  Nigeria    32558.0      51.750607
46120  46120 2020-07-13    no  Nigeria    33153.0      55.859348
46386  46386 2020-07-14    no  Nigeria    33616.0      62.587902
46654  46654 2020-07-15    no  Nigeria    34259.0      60.896926
46918  46918 2020-07-16    no  Nigeria    34854.0      55.319871
47185  47185 2020-07-17    no  Nigeria    35454.0      58.335844
47452  47452 2020-07-18    no  Nigeria    36107.0      56.618782
47717  47717 2020-07-19    no  Nigeria    36663.0      59.676868
47984  47984 2020-07-20    no  Nigeria    37225.0      65.590340
48249  48249 2020-07-21    no  Nigeria    37801.0      65.429994
48513  48513 2020-07-22    no  Nigeria    38344.0      67.542449
48781  48781 2020-07-23    no  Nigeria    38948.0      66.895089
49047  49047 2020-07-24    no  Nigeria    39539.0      65.177685
49311  49311 2020-07-25    no  Nigeria    39977.0      76.750243
49579  49579 2020-07-26    no  Nigeria    40532.0      80.596173
49845  49845 2020-07-27    no  Nigeria    41180.0      67.436409
50110  50110 2020-07-28    no  Nigeria    41804.0      64.735849
50378  50378 2020-07-29    no  Nigeria    42208.0      81.188067
50642  50642 2020-07-30    no  Nigeria    42689.0      95.443315
50908  50908 2020-07-31    no  Nigeria    43151.0      90.525274
51176  51176 2020-08-01    no  Nigeria    43537.0     101.711478
51442  51442 2020-08-02    no  Nigeria    43841.0     126.114976
51705  51705 2020-08-03    no  Nigeria    44129.0     148.093468
51973  51973 2020-08-04    no  Nigeria    44433.0     149.102477
52239  52239 2020-08-05    no  Nigeria    44890.0     116.909330
52504  52504 2020-08-06    no  Nigeria    45244.0     110.618167
52772  52772 2020-08-07    no  Nigeria    45687.0     113.610205
53036  53036 2020-08-08    no  Nigeria    46140.0     101.987351
53302  53302 2020-08-09    no  Nigeria    46577.0     103.673408
53570  53570 2020-08-10    no  Nigeria    46867.0     128.000000
53834  53834 2020-08-11    no  Nigeria    47290.0     131.588593
54101  54101 2020-08-12    no  Nigeria    47743.0     107.990868
54368  54368 2020-08-13    no  Nigeria    48116.0     115.535916
54634  54634 2020-08-14    no  Nigeria    48445.0     137.040836

## Filtering on Big Relational Dataset

In [28]:
pd_rel_result.tail()

       index       date state   country  confirmed  doubling_rate
54791  54791 2020-08-14    no  Barbados      148.0      72.666667
54792  54792 2020-08-14    no   Belarus    69308.0     671.886731
54793  54793 2020-08-14    no   Belgium    77113.0     104.115962
54794  54794 2020-08-14    no   Albania     7117.0      46.455556
54795  54795 2020-08-14    no  Zimbabwe     5072.0      55.698324

In [29]:
# Confirmed filtered
pd_rel_filtered= pd_rel[['state', 'country', 'confirmed']].groupby(['state','country']).apply(savgol_filter)

In [30]:
pd_rel_filtered= pd_rel_filtered.reset_index()

In [31]:
pd_rel_filtered.tail()

       index state   country  confirmed  confirmed_filtered
54791  54791    no  Barbados      148.0               146.8
54792  54792    no   Belarus    69308.0             69297.0
54793  54793    no   Belgium    77113.0             76949.6
54794  54794    no   Albania     7117.0              7114.8
54795  54795    no  Zimbabwe     5072.0              5068.2

In [32]:
pd_rel_result= pd.merge(pd_rel_result, pd_rel_filtered[['index', 'confirmed_filtered']], on=['index'], how='left')

In [33]:
pd_rel_result.tail()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered
54791,54791,2020-08-14,no,Barbados,148.0,72.666667,146.8
54792,54792,2020-08-14,no,Belarus,69308.0,671.886731,69297.0
54793,54793,2020-08-14,no,Belgium,77113.0,104.115962,76949.6
54794,54794,2020-08-14,no,Albania,7117.0,46.455556,7114.8
54795,54795,2020-08-14,no,Zimbabwe,5072.0,55.698324,5068.2

### Filtered Doubling Rate

In [34]:
pd_DR_filtered= pd_rel_result.groupby(['state', 'country']).apply(rolling_regression, col='confirmed_filtered')

In [35]:
pd_DR_filtered= pd_DR_filtered.reset_index()

In [36]:
pd_DR_filtered= pd_DR_filtered.rename(columns={'level_2': 'index', 'confirmed_filtered': 'doubling_rate_filtered'})

In [37]:
pd_DR_filtered.tail()

      state   country  index  doubling_rate_filtered
54791    no  Zimbabwe  53598               50.442273
54792    no  Zimbabwe  53796               55.248541
54793    no  Zimbabwe  54093               57.519491
54794    no  Zimbabwe  54328               58.863545
54795    no  Zimbabwe  54795               60.807317

In [38]:
# Merge results
pd_rel_result= pd.merge(pd_rel_result, pd_DR_filtered[['index', 'doubling_rate_filtered']], on=['index'], how='left')

In [39]:
pd_rel_result.tail()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
54791,54791,2020-08-14,no,Barbados,148.0,72.666667,146.8,111.923077
54792,54792,2020-08-14,no,Belarus,69308.0,671.886731,69297.0,752.228261
54793,54793,2020-08-14,no,Belgium,77113.0,104.115962,76949.6,123.735938
54794,54794,2020-08-14,no,Albania,7117.0,46.455556,7114.8,47.831846
54795,54795,2020-08-14,no,Zimbabwe,5072.0,55.698324,5068.2,60.807317

#### Cleanup doubling rates

In [40]:
DR_mask= pd_rel_result['confirmed']>100

In [41]:
DR_mask

0        False
1        False
2        False
3        False
4        False
         ...
54791     True
54792     True
54793     True
54794     True
54795     True
Name: confirmed, Length: 54796, dtype: bool

In [42]:
pd_rel_result['doubling_rate']= pd_rel_result['doubling_rate'].where(DR_mask, other=np.NaN)

In [43]:
pd_rel_result['doubling_rate_filtered']= pd_rel_result['doubling_rate_filtered'].where(DR_mask, other=np.NaN)

In [44]:
pd_rel_result.head()

,index,date,state,country,confirmed,doubling_rate,confirmed_filtered,doubling_rate_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0,NaN
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8,NaN
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0,NaN
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0,NaN
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0,NaN

In [45]:
# Save
pd_rel_result.to_csv('../data/processed/COVID_final_set.csv', sep=';', index=False)